---
Title: Cake.Plist
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        Cake.Plist is an Addin for <a href="http://cakebuild.net/">Cake</a> which allows you to serialize and deserialize xml plists.
    </p>
</div>